<h1>Hello!</h1>
<p ng-repeat="food in vm.foods">
  {{food}}
</p>
<form ng-submit="vm.addFood()">
  <fieldset>
    <label for="stuff">Enter a new food item</label>
    <input id="stuff" ng-model="vm.newFood">
    <input type="submit" value="Cook it up!">
  </fieldset>
</form>
